[submodule "src/libs/light_glue"]
	path = src/libs/light_glue
	url = https://github.com/cvg/LightGlue.git
[submodule "src/libs/pytorch3d"]
	path = src/libs/pytorch3d
	url = https://github.com/facebookresearch/pytorch3d.git
[submodule "src/libs/gaussian_wrapping/submodules/Depth-Anything-V2"]
	path = src/libs/gaussian_wrapping/submodules/Depth-Anything-V2
	url = https://github.com/DepthAnything/Depth-Anything-V2.git
